<h1>Properties:</h1>
<% @properties.each do |property| %>
  <%= render property%>
<% end %>

<div class="back-button mt-4">
  <%= link_to 'Add new property', new_property_path, class: 'btn btn-primary' %>
</div>
