<h1>Payments for <%= @tenant.name %></h1>

<div id="payments">
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment %>
    </p>
  <% end %>
</div>

<div class="back-button">
  <%= link_to 'Back to Tenant Dashboard', tenant_path(@tenant), class: 'btn btn-primary' %>
</div>
