<%= form_with(model: lease, local: false, html: { multipart: true }) do |form| %>
  <div class="form-group">
    <%= form.label :pdf, "Upload Lease PDF" %>
    <%= form.file_field :pdf, class: "form-control" %>
  </div>
  <%= form.submit "Upload", class: "btn btn-success" %>
<% end %>
