<div id="<%= dom_id unit %>">
  <p>
    <strong>Property:</strong>
    <%= unit.property_id %>
  </p>

  <p>
    <strong>Unit number:</strong>
    <%= unit.unit_number %>
  </p>

  <p>
    <strong>Tenant:</strong>
    <%= unit.tenant_id %>
  </p>

</div>
